

  

.states {
  stroke: #fff;
  stroke-width: 2px;
  stroke-linejoin: round;
  stroke-linecap: round;
  pointer-events: none;
  
}

.circulos{
    
    stroke-width:0px;
 -webkit-transition: stroke-width 0.2s; /* Safari */
    transition: stroke-width 0.2s;
    transition: fill 0.2s;
}

.circulos.selected{
    stroke: #fff;
    stroke-width: 2px;
}

.circulos.unselected{
    fill: none;
    stroke: silver;
    stroke-width: 1px;
}

.circulos.hovered{
    stroke: #000;
    stroke-width: 2px;
}



.cells path {
  fill: none;
  stroke: #000;
    stroke-width:0px;
  pointer-events: all;
   cursor: pointer;
}



svg text {
    font-family: "Roboto";

}

.legendSize{
  fill:silver;
}

.legendTitle{
  font-size: 14px;
  fill:gray;

}

.label{
  fill:gray;
  font-size: 12px;
}

