* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
/*  max-width: 100%;
  overflow-x: hidden;
*/
}

body {

  min-height: 1280px;

}


@font-face{font-family:BrandonGrotesqueLight;src:url(fonts/brandon_light.otf)}
@font-face{font-family:BrandonGrotesqueBold;src:url(fonts/brandon_bld.otf)}
@font-face{font-family:BrandonGrotesque;src:url(fonts/brandon_reg.otf)}
@font-face{font-family:BrandonGrotesqueBlack;src:url(fonts/brandon_blk.otf)}



#intro {
  margin-bottom: 320px;
}

#outro {
  height: 640px;
}

		.seccion-datos {margin-bottom: 80px !important}
			.card{    padding: 10px;
				text-align: center;
				min-width: 200px;
				border: none;
				background-color: #f1fee3;
				border-radius: 5px;

			}
			.card p{
			font-weight:400;
			margin:0;
			}

			.card svg{
			display:block;
			width: 36px;
			height:36px;
			margin:auto;
			}
			.card svg path{
			fill:dimgrey;
			}


		#scrolly {
			position: relative;
			background-color: #fafafa;
			
		}

		article {
			/* position: relative; */

		}

		figure {
			position: -webkit-sticky;
			position: sticky;
			left: 0;
			/* width: 100%; */
			margin: 0;
			-webkit-transform: translate3d(0, 0, 0);
			-moz-transform: translate3d(0, 0, 0);
			transform: translate3d(0, 0, 0);

		}

		

		.step {
			margin: 0 auto 2rem auto;
	
		}

		.step:last-child {
			margin-bottom: 0;
		}

		.step.is-active .sticked {
	
		}

		.sticked{
			text-align: center;
		}

		.step .sticked {
			width: 90%;
    		background-color: #ffffffde;
    		padding: 6px 10px;
    		margin: auto;
    		border-top: 1px solid;
    		position:relative;
		}
		
		.step .sticked h3{
			font-size: 15px;
			margin-top: 0;
			margin-bottom: 8px;
		}

		.step .sticked p{
			font-weight: 400;
			font-size: 13px;
			line-height: 1.3;
			margin-bottom: 2px;
		}



tspan.anios, tspan.cantidades{
	font-size: 11px;
}

.graph-img p{
	text-align: center;
	margin-bottom: 30px;
}

svg g#labels {
			font-size: 12px;
		}




				#tooltip {
					opacity: 0;
					bottom: 30px;
					position: relative;
					text-align: center;
					width: 100%;
					min-height: 130px;
					font: 12px sans-serif;
					background: #f3f3f3;
				}
				

				div#tooltip h3 {
					margin-top: 0;
					background-color: #c0c0c06b;
					width: 100%;
					display: inline-block;
					line-height: 18px;
					font-size: 13px;
					padding: 4px 0px;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
					margin: 0;
				}

				div#tooltip h4 {
					margin: 5px 8px;
					display: inline-flex;
					font-size: 12px;
					font-weight: 500;
				}

				div#tooltip #descripcion {
					font-weight: 500;
				}


				div#tooltip #info{
					margin: 2px 0px;
					font-weight: 500;
					font-size: 12px;
				}



@media only screen and (min-width: 820px) {
				
				#tooltip { 
					bottom:unset;
					bottom:230px;
					right:15%;
					position: absolute;     
					text-align: center;     
					width: 270px;          
					padding: 0px 0px;
					min-height: 130px;       
					-webkit-box-shadow: 1px 5px 6px 0px rgba(0,0,0,0.31);
					-moz-box-shadow: 1px 5px 6px 0px rgba(0,0,0,0.31);
					box-shadow: 1px 5px 6px 0px rgba(0,0,0,0.31);
				}
				





	.step .sticked {
			width: 60%;
			padding: 8px 120px;
			min-width: 300px;
		}
		
		.step .sticked h3{
			font-size: 23px;
			margin-top: 12px;
			margin-bottom: 10px;
		}

		.step .sticked p{
			font-weight: 400;
			font-size: 16px;
			line-height: 1.5;
			margin-bottom: 7px;
		}

		tspan.anios, tspan.cantidades{
			font-size: 16px;
		}

		#stickyViz
		{
			padding-top: 4em;
		}

		svg g#labels {
			font-size: 14px;
		}
}


@media (min-width: 576px){
	.card-deck .card {
		-ms-flex: 1 0 0%;
		flex: 1 0 0%;
		margin-right: .625rem;
		margin-bottom: 10px;
		margin-left: .625rem;
	}
}

.icono{
	width: 200px;
    height: 200px;
    background-repeat: no-repeat;
    display: auto;
    position: relative;
    background-size: 186px;
    margin: 5px auto;
}

.icono.lupa{
	background-image: url(../images/Icono_lupa.svg);
    background-position: center;
}

.icono.lampara{
	background-image: url(../images/Icono_lampara.svg);
    background-position: center;
}

.icono.participacion{
	background-image: url(../images/Icono_participacion.svg);
    background-position: center;
}


/* tooltip */

.topic-article-wrapper .proyecto-ganador .box-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 7px 7px;
    background-color: #0099c3;
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
}



@media only screen and (min-width: 820px){
		div#tooltip #title {
			line-height: 20px;
			display: inline-block;
			vertical-align: middle;
			padding: 0px 10px;
			white-space: initial;
			overflow: initial;
			text-overflow: unset;
		}

				#tooltip { 
					bottom:unset;
					bottom:4%;
					right:7%;
					position: absolute;     
					text-align: center;     
					width: 270px;          
					padding: 0px 0px;
					min-height: 130px;       
					-webkit-box-shadow: 1px 5px 6px 0px rgba(0,0,0,0.31);
					-moz-box-shadow: 1px 5px 6px 0px rgba(0,0,0,0.31);
					box-shadow: 1px 5px 6px 0px rgba(0,0,0,0.31);
				}

				.topic-status .status-active-preparacion #title{
						white-space: inherit;
    					overflow: inherit;
					}
}

.topic-info {
    width: 100%;
    text-align: center;
    background: #f9f9f9;
    padding: 15px 0;
}



.topic-year, .topic-location {
    text-transform: uppercase;
    color: #000;
    display: inline-block;
    width: 40%;
    font-weight: 400;
    font-size: 14px;
}
.topic-article-content span {
    font-weight: inherit;
}

.topic-article-wrapper .proyecto-ganador .box-content {

    padding: 0px 0;

}

.topic-article-wrapper .proyecto-ganador .box-content .box-content-item .box-content-title {
    font-weight: 500;
    font-size: 16px;
}

div #title{
	white-space: nowrap;
    overflow: scroll;
}